{% extends 'base.html' %}
{% block content %}


<div style="margin: 1.8rem">
<div class="elements-section-headline-wrap yellow">
    <div id="Hero" class="section detail">
        <div class="blog1-headline-wrap detail_page">
            <div class="size3-text post">자취방 관련 글 남기기<br></div>
        </div>
    </div>
</div>


<div class="section" style="margin: 1.8rem">
    <div class="w-form">
        <form action="{% url 'boardapp:create' %}" method="post" enctype="multipart/form-data" id="email-form"
              name="email-form" data-name="Email Form">
            {% csrf_token %}
            {{ form.media }}
            <div>
                <label for="email-2">제목 : </label>
                <input type="text" maxlength="256" name="title" data-name="Title" placeholder="">
            </div>
            <div>
                <label for="email-2">글 내용</label><br>
                <div class="django-ckeditor-widget" data-field-id="id_content" style="display: inline-block;">
                          <textarea class="form-control" cols="40" id="id_content" name="content" placeholder="Content"
                                    rows="10"
                                    title="" required data-processed="0"
                                    data-config='{"skin": "moono-lisa", "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Link", "Unlink", "Anchor"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "toolbar": "full", "height": 291, "width": 835, "filebrowserWindowWidth": 940, "filebrowserWindowHeight": 725, "extraPlugins": "codesnippet", "codeSnippet_theme": "monokai_sublime", "language": "ko-kr"}'
                                    data-external-plugin-resources="[]" data-id="id_content"
                                    data-type="ckeditortype"></textarea>
                </div>
            </div>
            <div>
                <input type="submit" value="제출하기">
            </div>

        </form>
    </div>
</div>
</div>
{% endblock %}