{% extends 'base.html' %}
{% block content %}
<div class="sort_center content_font" style="max-width:500px; margin: 4rem auto;">
    <h3>프로필페이지</h3>
    <br>
    <br>
    {% if target_user == user %}
    본인입니다.<br>
    {% endif %}

    {% if target_user.profile %}
    <h5>
        Name : {{target_user.profile.name}}
        Phone number : {{target_user.profile.number}}
    </h5>
    {% else %}
    <h4>
        No Profile!
    </h4>
    {% endif %}
    <br>
    <h4>
        {{target_user.room.name}}
    </h4>

    {% if target_user == user %}
        <a href="{% url 'accountapp:update' pk=user.pk %}">
            <span class="material-icons">
            manage_accounts
            </span>
        </a>
        <a class="material-icons"
            style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
            href="{% url 'accountapp:delete' pk=user.pk %}">
            cancel
        </a>
    {% endif %}

</div>
{% endblock %}