{% extends 'base.html' %}
{% block content %}

        <div style="margin: 1.8rem">
            <h4> ■ 자취방 리뷰</h4>
            <button style="width: 8rem; height: 3.0rem;"> <a href="{% url 'reviewapp:create' %}"><div>리뷰쓰기</div></a></button>
        </div>
        {% for post in post_list %}
        <div class="feature col" style="margin: 1.8rem">
            <h2 style="color: black">{{post.room}}</h2>
            <p style="color: gray; width: 45rem">요약 : {{ post.summary | safe }}</p>
            <p style="color: gray; width: 45rem">{{post.content}}</p>
            <a href="{% url 'reviewapp:detail' pk=post.pk%}" class="icon-link" style="float:right; width: 70rem">
                ▶ 원룸 정보 상세보기
                <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
<br><br>
{% include 'page.html' %}
{% endblock %}